<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

	<appender name="infoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<file>${catalina.base}/logs/order.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${catalina.base}/logs/order.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>

	<root level="info">
		<appender-ref ref="infoFile" />
	</root>

</configuration>  