<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</Pattern>
		</layout>
	</appender>

	<root level="info">
		<appender-ref ref="stdout" />
	</root>

</configuration>  